* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
}

h1, h2, p {
  margin: 0;
}

.app {
  background-color: ##fcfcfc
}

.app-header {
  height: 80px;
  padding-top: 8px;
  text-align: center;
  background-image: linear-gradient(to right bottom, #b1377d, #b74296, #b84fb1, #b45ecd, #a96ee9);
  color: #f5f5f5;
}

.app-header h1 {
  font-size: 2em;
  text-shadow: 2px 3px 0px #898999;
}