$principal-color: #b84fb1;
$secondary-color: #a96ee9;
$strong-color: orange;
$alert-color: red;

$basic-color: #f1f2f3;
/*$basic-color: #F9FAFB;
 $basic-color: #dee2e6; */
$blue-color: #00a1ba;
$blue2-color: #00c9b7;


// @param {String} $property - Property name
// @param {*} $value - Property value
// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin btnLike($basic, $hover, $text){
  text-decoration: none;
    background-color: $basic;
    color: $text;
    padding: 0.5em;
    border-radius: 5px;
    @include prefix(box-shadow, 5px 5px 36px -5px rgba(138,134,138,0.87), webkit moz);
    &:hover, &:focus {
      background-color: $hover;
      cursor: pointer;
    }
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: white;
}

h1, h2, h3, p, ul, li {
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.6; 
}

.app {
  background-color: white;
}

.app-header {
  height: 80px;
  padding-top: 8px;
  text-align: center;
  background-image: linear-gradient(to right bottom, #b1377d, #b74296, #b84fb1, #b45ecd, #a96ee9);
  color: $basic-color;
}

.app-header h1 {
  font-size: 2em;
  text-shadow: 2px 2px 0px #898999;
}

.navbar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  background-color: $basic-color;
  a {
    display:block;
    text-decoration: none;
    text-align: center;
    color: $principal-color;
    padding: 16px;

    &:hover, &:focus {
      background-color: $principal-color;
      cursor: pointer;
      color: $basic-color
    }
  }
}

.post-card {
  margin: 1.5em 1em;
  padding: 1.5em 2em 1em 1em;
  border-radius: 10px;
  background-color: $basic-color;

  .category {
     @include btnLike($strong-color, $blue-color, $basic-color);
  }

  h2 {
    margin: 1em 0 0.5em 0;
  }

  .body {
    @include multiLineEllipsis(1.6em, 2, $basic-color);  
  }

  .author {
    font-size: 1em;
    svg {
      color: $blue-color;
    }
  }

  .comments {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.5em;
    color: $blue-color;
    
    div {
      margin: 0 6px;
    }
  } 

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 8px;
    margin-top:8px;
    border-top: 1px solid #dee2e6;

    button {
      background: $basic-color;
      font-size: 1.2em;
      color: $blue-color;
      border: 1px solid;
      border-radius: 100%;
      padding: 5px 6px 1px 6px;
      margin: 0;   
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    max-width: 150px;
  }

  .more {
    @include btnLike($blue-color, $strong-color, $basic-color);
  }

  span {
    color: $blue-color;
  }
}

.post {
  margin: 1.5em 1em;
  padding: 1.5em 2em 1em 1em;
  border-radius: 10px;
  background-color: $basic-color;

  .author {
    font-size: 1em;
    svg {
      color: $blue-color;
    }
  }
}

.comment {
  margin: 1.5em 1em;
  padding: 1.5em 2em 1em 1em;
  border-radius: 10px;
  background-color: $basic-color;
}
