$principal-color: #b84fb1;
$secondary-color: #a96ee9;
$light-color: #6c757d;
$strong-color: orange;
$fail-color: red;
$success-color: green;
$basic-color: #f1f2f3;
/*$basic-color: #F9FAFB;
 $basic-color: #dee2e6; */
$blue-color: #00a1ba;
$blue2-color: #00c9b7;
$grey-color: #aaaaaa;



// @param {String} $property - Property name
// @param {*} $value - Property value
// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin linkLikeBtn($basic, $hover, $text){
  text-decoration: none;
  background-color: $basic;
  color: $text;
  padding: 0.5em;
  border-radius: 5px;
  @include prefix(box-shadow, 5px 5px 36px -5px rgba(138,134,138,0.87), webkit moz);
  &:hover, &:focus {
    background-color: $hover;
    cursor: pointer;
  }
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

%flex-basic {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  
  @include prefix(animation, fadeInOpacity 1 ease-in, webkit moz o ms);
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

%fade {
  opacity: 1;
  @include prefix(animation, fadeInOpacity 1 ease-in, webkit moz o ms);
}

@include keyframes(fadeInOpacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  min-width: 300px;
  margin: 0;
  padding: 0;
  background: white;
}

body {
  
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li {
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.6; 
}

.app {
  background-color: white;
  height: 100%;
}

.app-header {
  height: 80px;
  padding-top: 8px;
  text-align: center;
  background-image: linear-gradient(to right bottom, #b1377d, #b74296, #b84fb1, #b45ecd, #a96ee9);
  color: $basic-color;
}

.app-header h1 {
  font-size: 2em;
  text-shadow: 2px 2px 0px #898999;
}

.navbar {
  position: sticky;
  top:0;
  width: 100%;
  list-style: none;
  @extend %flex-basic;
  @include justify-content(center);
  padding: 0;
  background-color: $basic-color;
  a {
    display:block;
    text-decoration: none;
    text-align: center;
    color: $principal-color;
    padding: 16px;

    &:hover, &:focus, .nav-select {
      background-color: $principal-color;
      cursor: pointer;
      color: $basic-color
    }
  }
}

.controls-panel {
  width: 100%;
  padding: 16px 0;
  @extend %flex-basic;
  @include justify-content(center);

  .open-post-new{
    @include linkLikeBtn($blue-color, $strong-color, $basic-color);
    margin: 0 8px;
  }

  select {
    margin: 0 8px;
  }
   

}
    /* > *{
    margin-top:30px;
    } */
.post-new {
  padding: 16px;
  max-width: 900px;
 
  .post-form {
    margin: 16px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .post-form-group{
    padding: 8px 0;
    font-size: 1.3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    input[type='text'] {
      background-color: white;
      font-family: Arial,sans-serif;
      font-size: 1rem;
      padding: 8px 0 0 0;
      letter-spacing: 0;
      line-height: 1;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color:  $grey-color;
    }

    select {
      background-color: white;
      border: 1px solid $grey-color;
      font-family: Arial,sans-serif;
      font-size: 1rem;
      height: 48px;
      max-width: 200px;
      min-width: 148px;
      letter-spacing: 0;
      padding: 0 4px;
      width: 45%;
    }

    textarea {
      line-height: 1.7;
      font-size: 1.3rem;
      resize: none;
      min-height: 100%;
      padding: 4px;
    }
  }
}

.post-card {
  margin: 1.5em 1em;
  padding: 1.5em 1em 1em 1em;
  border-radius: 10px;
  background-color: $basic-color;
  min-width: 316px;

  .category {
     @include linkLikeBtn($strong-color, $blue-color, $basic-color);
  }

  h2 {
    margin: 1em 0 0.5em 0;
  }

  svg {
    color: $blue-color;
  }

  .body {
    padding-right: 1em;

    p {
      @include multiLineEllipsis(1.6em, 2, $basic-color);
    }
  }

  .author {
    font-size: 1em;

    span {
      color: $light-color;
    }
  }

  .comments-number {
    @extend %flex-basic;
    font-size: 1.5em;    
    div {
      color: $light-color;
      margin: 0 6px;
    }
  } 

  .footer {
    @extend %flex-basic;
    @include justify-content(space-between);
    padding-top: 8px;
    margin-top:8px;
    border-top: 1px solid #dee2e6;
  }

  .icons {
    @extend %flex-basic;
    @include justify-content(space-around);
    align-items: center;
    width: 50%;
    max-width: 150px;
  }

  .more {
    @include linkLikeBtn($blue-color, $strong-color, $basic-color);
  }

  span {
    color: $blue-color;
  }
}

.post {
  margin: 1.5em 1em;
  padding: 1.5em 2em 1em 1em;
  border-radius: 10px;
  background-color: $basic-color;

  .header{
     @extend %flex-basic;

     h2 {
      width: 100%;
     }
  }

  .author {
    font-size: 1em;
    svg {
      color: $blue-color;
    }
  }
  
  .edit{
    @include linkLikeBtn ($basic-color,$secondary-color,$strong-color);
  }

}

.vote {
  @extend %flex-basic;  
    
  button {
    background: $basic-color;
    font-size: 1.2em;
    color: $blue-color;
    border: 1px solid;
    border-radius: 100%;
    padding: 5px 6px 1px 6px;
    margin: 0 4px; 
  }

  div {
    margin: 0 6px;
    font-size: 1.5em;
    padding-top: 2px;
  }

  .up {
      color: $success-color;
  }

  .down {
    color: $fail-color;
  }
}

.comments {
  margin: 1.5em 1em;
  padding: 1.5em 2em 1em 1em;
  background-color:#CCCCCC;
  position:relative;
  min-height: 200px;
  
  .comment {
  margin: 1.5em 1em;
  padding: 1.5em 2em 1em 1em;
  border-radius: 10px;
  background-color: $basic-color;
}
}

.loader {
  margin:0 auto;
  position:absolute;
  left:47%;
  top: calc(50% + 32px);
  @extend  %fade;
  @include prefix(animation-duration, 800ms, webkit moz o);
}