$principal-color: #b84fb1;
$secondary-color: #a96ee9;
$strong-color: orange;
$alert-color: red;
$basic-color: #f1f2f3;
$blue-color: #00a1ba;
$blue2-color: #00c9b7;


* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: $basic-color;
}

h1, h2, h3, p, ul, li {
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.6; 
}

.app {
  background-color: $basic-color;
}

.app-header {
  height: 80px;
  padding-top: 8px;
  text-align: center;
  background-image: linear-gradient(to right bottom, #b1377d, #b74296, #b84fb1, #b45ecd, #a96ee9);
  color: $basic-color;
}

.app-header h1 {
  font-size: 2em;
  text-shadow: 2px 2px 0px #898999;
}

.navbar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  background-color: $basic-color;
  a {
    text-decoration: none;
    text-align: center;
    color: $principal-color;
    padding: 16px;

    &:hover, &focus {
      background-color: $principal-color;
      cursor: pointer;
      color: $basic-color
    }
  }
}

.post {
  margin: 8px;
  padding: 8px;
}

.post-category {

}